{% extends 'auctions/base_template.html' %}
{% block title %} {{ auction.name }} {% endblock %}

{% block content %}
<h1>{{ auction.name }}</h1>
{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <span style="color : green"> <b>{{ message }}</b></span>
    {% else %}
   <span style="color : red"> <b>{{ message }}</b></span>
   {% endif %}
    {% endfor %}
<br>
{% endif %}
Item: <a href="/items/{{ auction.item.id }}">{{ auction.item.name }}</a> <br>
Price at the moment: {{ auction.min_price }} <br>
{% if auction.buy_now_price %}
Price without bid: {{ auction.buy_now_price }} <a href="/buy-now/{{ auction.id }}">Buy now!</a> <br>
{% endif %}
End of auction: {{ auction.end_date }}<br>
Seller: {{ auction.seller }} <br>
Buyer: {{ auction.buyer }}<br>
Rating: {{ average_rating }} <br>
Status: {{ auction.status }} <br><br>
<a href="/bid-auction/{{ auction.id }}"><b>BID AUCTION</b></a> | <a href="/bids/{{ auction.id }}">BIDS HISTORY</a>
<h2>Opinions:</h2>
<a href="/add-opinion/{{ auction.id }}"><b>Add opinion</b></a>
{% for opinion in auction.opinion_set.all %}
<ul>
    <li>Comment: {{ opinion.comment }}</li>
    <li>Rating: {{ opinion.rating }}</li>
    <li>Reviewer: {{ opinion.reviewer }}</li>
    <li>Date added: {{ opinion.date_created }}</li>
    {% if opinion.date_edited %}
    <li>Date edited: {{ opinion.date_edited }}</li>
    {% endif %}
    <li><a href="/edit-opinion/{{ opinion.id }}">Edit opinion</a></li>
</ul>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if opinions.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ opinions.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ opinions.number }} of {{ opinions.paginator.num_pages }}.
        </span>

        {% if opinions.has_next %}
            <a href="?page={{ opinions.next_page_number }}">next</a>
            <a href="?page={{ opinions.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}