{% extends 'auctions/base_template.html' %}

{% block title %} Available auctions {% endblock %}

{% block content %}
<div id="content", name="content", class="main">
    <div class="row justify-content-center">
        <div class="col-5">
<h1>Available auctions</h1>
</div>
</div>
</div>
<div id="content", name="content", class="main">
    <div class="row justify-content-center">
        <div class="col-15">
<a href="/auctions/?status=available">Available auctions</a> |
<a href="/auctions/?status=expired">Expired auctions</a> |
<a href="/auctions/?status=sold">Sold auctions</a> |
<a href="/auctions">All auctions</a>
</div>
</div>
</div><br>
{% for auction in auctions %}
{% if auction.status == 'available' %}
<ul>
<li><a href="/auction/{{ auction.id }}">{{ auction.name }}</a> <br></li>
</ul>
{% endif %}
{% endfor %}
{% endblock %}