{% extends 'auctions/base_template.html' %}

{% block title %}'{{ auction.name }}' bids {% endblock %}

{% block content %}

<h1>Bids</h1>
{% if messages %}
{% for message in messages %}
<b>{{ message }}</b> <br>
{% endfor %}
{% endif %}
Auction name: {{ auction.name }} <br>
Price at the moment: {{ auction.min_price }} <br>
End of auction: {{ auction.end_date }}<br>
Auction buyer: {{ auction.buyer }} <br>
Auction status: {{ auction.status }}
<h2>History</h2>
{% for bid in bids %}
<ul>
    <li>{{ bid.amount }} </li>
    <li>{{ bid.time }}</li>
    <li>{{ bid.bidder }}</li>
</ul>
{% endfor %}
{% endblock %}