{% extends 'auctions/base_template.html' %}
{% block title %} {{ category.name }} {% endblock %}

{% block content %}
<h1>Category: {{ category.name }}</h1>
<h3>Description: {{ category.description }}</h3>
Items: <br>
{% for item in category.item_set.all %}
<li>
<a href="/items/{{ item.id }}">{{ item.name }}</a>
</li>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
            <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}