{% extends 'auctions/base_template.html' %}
{% block title %} Auctions {% endblock %}
{% block content %}
<h1>Auctions</h1>
{% if messages %}
{% for message in messages %}
<b>{{ message }}</b><br>
{% endfor %}
{% endif %}
<a href="/auctions/?status=available">Show only available auctions</a> |
<a href="/auctions/?status=expired">Show only expired auctions</a> |
<a href="/auctions/?status=sold">Show only sold auctions</a>
{% for auction in auction_list %}
<ul>
<a href="/auction/{{ auction.id }}"><li>{{ auction.name }}, Status: {{ auction.status }}</li></a>
</ul>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}