{% extends 'auctions/base_template.html' %}
{% block title %} Item list {% endblock %}

{% block content %}
<p><h1>All items:</h1></p>
{% for item in item_list %}
<ul>
 <a href="/items/{{ item.id }}">  {{ item.name }}</a><br>
</ul>

{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}