{% extends 'auctions/base_template.html' %}

{% block title %}{{ user.username }} {% endblock %}

{% block content %}
<h1>{{ user.username }}</h1><a href="/edit-profile/{{ user.id }}"><b>Edit profile</b></a><br>
{% if messages %}
{% for message in messages %}
<b>{{ message }}</b><br>
{% endfor %}
{% endif %}
username: {{ user.username }} <br>
first name: {{ user.first_name }} <br>
last name: {{ user.last_name }} <br>
email: {{ user.email }} <br>
phone number:{% if user_account.phone_number %} {{ user_account.phone_number }} {% endif %}<br>
<h2>Bids:</h2>
{% for bid in bids %}
<ul>
<li>Bid: {{ bid.amount }}</li>
<li>Bid date: {{ bid.time }} </li>
<li>Auction:<a href="/auction/{{ bid.auction.id }}"> {{ bid.auction }}</a></li>
</ul>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if bids.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ bids.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ bids.number }} of {{ bids.paginator.num_pages }}.
        </span>

        {% if bids.has_next %}
            <a href="?page={{ bids.next_page_number }}">next</a>
            <a href="?page={{ bids.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}